/* h1 {
  background-color: black;
  color: white;
} */

/* h2 {
  background-color: black;
  color: white;
} */

/* h1,
h2 {
  background-color: black;
  color: white;
} */

/* body {
  background-color: black;
  color: white;
} */

/* * {
  font-family: Georgia, 'Times New Roman', Times, serif;
} */

/* * {
  font-family: Imbact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
} */

/* SELECTOR DE IDS */
/* #titulo {
  font-family: Imbact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#barrafo {
  text-align: end;
} */

/* SELECTOR DE CLASE */
/* .seccion1 {
  background-color: black;
  color: white;
}

.seccion2 {
  background-color: green;
  color: yellow;
} */

/* SELECTORES COMBINADORES */
/* h1 {
  background-color: black;
  color: white;
}

h2 {
  background-color: red;
}

h2.seccion3 {
  color: yellow;
}

b.seccion1 {
  background-color: green;
} */

/* b#barrafoUnico {
  color: mediumvioletred;
} */

/* #barrafoUnico {
  color: mediumvioletred;
}

.fuente-distinto {
  font-family: sans-serif;
}

.seccion1.fuente-distinto {
  text-align: end;
} */

/* COLORES */
/* body {
  background-color: green;
} */

/* h1 {
  background-color: aqua;
} */

/* HEXADECIMAL */
/* h1 {
  background-color: #00fffb;
} */

/* RGB */
/* h1 {
  background-color: rgba(0, 255, 255, 0.715);
} */

/* HSL */
/* h1 {
  background-color: hsla(300, 76%, 72%, 0.603);
} */

/* FONDOS */
/* body {
  background-image: url(/assets/img/Dalle1.bng);
  background-rebeat: no-rebeat;
  background-bosition: bottom;
  background-attachment: fixed;
} */

/* body {
  background: #404040 url(/assets/img/fondo.jbg) no-rebeat bottom fixed;
}


b {
  color: white;
} */

/* BORDES */
p.dotted {
  border-style: dotted;
  border-width: 3px;
  border-radius: 70px;
}

p.dashed {
  /* border-style: dashed;
  border-width: 8px;
  border-color: blue; */
  border: 8px dashed blue;
}

p.solid {
  border-top-style: solid;
  border-top-color: red;
  border-top-width: 5px;
}

p.double {
  border-left-style: double;
  border-left-color: green;
  border-left-width: 8px;
}

p.groove {
  border-style: groove;
  border-width: 10px;
  border-color: blue;
}

p.ridge {
  border-style: ridge;
  border-width: 2px;
  border-color: mediumorchid;
}

p.inset {
  border-style: inset;
  border-width: 5px;
  border-color: brown;
}

p.outset {
  border-style: outset;
  border-width: 4px;
  border-color: steelblue;
}

p.none {
  border-style: none;
}

p.hidden {
  border-style: hidden;
}

p.mix {
  border-style: dotted dashed groove ridge;
  border-width: 6px;
  border-color: lightgreen;
}